<!DOCTYPE html>
<html>
  <head>
    <title>Sidebar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/librerias_top' %>
  </head>
  <body class='cuerpo'>
    <div class="wrapper">
      <%= render 'layouts/sidebar' %>
      <div id="content">
        <%= render 'layouts/navbar' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/librerias_bot' %>
  </body>
</html>
